[submodule "boot/u-boot"]
	path = boot/u-boot
	url = https://github.com/u-boot/u-boot
	branch = master
[submodule "linux"]
	path = linux
	url = https://github.com/tmykhalevych/qb-linux.git
[submodule "busybox"]
	path = busybox
	url = git://git.busybox.net/busybox
