[submodule "os/linux"]
	path = os/linux
	url = https://github.com/tmykhalevych/qb-linux.git
[submodule "os/busybox"]
	path = os/busybox
	url = git://git.busybox.net/busybox
[submodule "os/glibc"]
	path = os/glibc
	url = https://github.com/bminor/glibc.git
[submodule "os/dropbear"]
	path = os/dropbear
	url = https://github.com/mkj/dropbear.git
